{:paths ["src" "resources"]
 :deps
 {clojure.java-time/clojure.java-time {:mvn/version "1.2.0"}
  com.github.seancorfield/honeysql {:mvn/version "2.4.1011"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.847"}
  com.stuartsierra/component {:mvn/version "1.1.0"}
  compojure/compojure {:mvn/version "1.7.0"}
  crypto-password/crypto-password {:mvn/version "0.3.0"}
  hiccup/hiccup {:mvn/version "1.0.5"}
  http-kit/http-kit {:mvn/version "2.6.0"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  org.postgresql/postgresql {:mvn/version "42.5.4"}
  resauce/resauce {:mvn/version "0.2.0"}
  ring/ring-core {:mvn/version "1.9.6"}}

 :aliases
 {:run {:main-opts ["-m" "snippetbox.core"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.3"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
